$green:#00917c;
$worksans:'Work Sans',sans-serif;
$roboto:'Roboto',sans-serif;



// breakpoints
$phone-breakpoint:576px;
$tablet-breakpoint: 768px;
$desktop-breakpoint:992px;
$large-desktop-breakpoint:1200px;
$xxl-large-desktop-breakpoint:1400px;