.btn1{
    padding: 15px 30px;
            border-radius: 30px;
            border: none;
            font-size: 14px;
            color: #fff;
            background-color: $green;
            width: 122px;
            margin: 0 auto;
            font-family: $roboto;
}

.input{
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    border-color: transparent;
    height: 52px;
    background: #f8f9fa !important;
    margin-bottom: 10px;
    width: 100%;
}